.container {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0;
  padding: 20px;
}

.menuItem {
  white-space: nowrap;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-size: 150%;
}

.selected {
  background-color: #2B9EB3;
}

.main {
  flex-flow: column nowrap;
  flex: 1 1;
  padding: 20px;
}
