.container {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0;
  padding: 20px;
}

.menuItem {
  white-space: nowrap;
  padding-bottom: 10px;
}

.main {
  flex-flow: column nowrap;
  flex: 1 1;
  padding: 20px;
}
